<?xml version="1.0"?>
<model>
  <name>slam_bot</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>

  <author>
    <name>Toluwani Williams</name>
    <email>toluwanidwilliams@gmail.com</email>
  </author>

  <description>
    A three-omniwheel chassis for slam bot
  </description>
</model>